<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Jungle Order Confirmation</h1>
    <p>
      Dear <%= @user.email %>,<br>
      Your online order has been processed. Thank you for shopping at Jungle!

      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="2">Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'orders/line_item', collection: @order.line_items %>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="4">
              TOTAL:
            </th>
            <th>
              <%= @order.total_cents / 100.0 %>
            </th>
          </tr>
        </tfoot>
      </table>


    </p>
  </body>
</html>